:root {
  --mainBg: white;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 80vh;
}

.navbar-brand a {
  text-decoration: none;
}
.image {
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
